/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

/* ngx-toastr styles */
@use 'ngx-toastr/toastr';

// body {
//   font-family: 'Inter', sans-serif;
// }

// h1,
// h2 {
//   font-family: 'Cormorant Garamond', serif;
// }

button,
[role='button'],
[role='switch'] {
  cursor: pointer;
}

/* Checkbox accent color and size */
input[type='checkbox'] {
  accent-color: #000000;
  width: 13px;
  height: 13px;
}